body{
    background-color:white;
}
.main{
    border: 1px solid white;
    height: 100px;
    background-color: white;
}
.container{
    margin-left: 10%;
    margin-top: -6%;
    
}
.women{
    margin-left: 5%;
    margin-top: -1.5%;
    text-decoration: none;
}
.kids{
    margin-left: 13%;
    margin-top: -1.5%;
    
}
.home{
    margin-left: 18%;
    margin-top: -1.5%;
}
.beauty{
    margin-left: 31%;
    margin-top: -1.5%;
}
.studio{
    margin-left: 38%;
    margin-top: -1.8%;
}
.div7{
    font-size: 10px;
    margin-left: 3%;
}
.div8{
    font-size: 10px;
    margin-left: 4%;
    margin-top: -4.1%;
}
.div9{
    font-size: 10px;
    margin-left: 10%;
}
.search-container{
    margin-left: 48%;
    margin-top: -2%;
}
#searchInput{
    width: 390px;
    height: 30px;
}
.IMG2{
    margin-left: 83%;
    margin-top: -4%;
}
.img3{
    margin-left: 88%;
    margin-top: -5%;
    margin-bottom: -2%;
}
.img4{
    margin-left: 94%;
    margin-top: -4%;
}
a{
    text-decoration: none;
}
.offerphoto{
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 4%;
}
.container2{
    margin-left:2% ;
    margin-bottom: 1%;
}
.s-container{
    margin-left:2%;
    margin-bottom: 5%;
}
.dress{
    margin-left: 13%;
    margin-top: -1.5%;
}
.top{
    margin-left: 28%;
    margin-top: -1.5%;
}
.kurtas{
    margin-left: 43.5%;
    margin-top: -1.5%;
}
.jeans{
    margin-left: 57%;
    margin-top: -1.5%;
}
.makeup{
    margin-left: 74%;
    margin-top: -1.5%;
}
.flats{
    margin-left: 89%;
    margin-top: -1.5%;
}
.t-container{
    margin-left: 2%;
}
.M-S{
    margin-left: 2%;
    margin-top: 1%;
}
.T-SHIRTS{
    margin-left: 15%;
    margin-top: -1.5%;
}
.M-JEANS{
    margin-left: 30%;
    margin-top: -1.5%;
}
.kurta{
    margin-left: 44.5%;
    margin-top: -1.5%;
}
.T-P{
    margin-left: 56%;
    margin-top: -1.5%;
}
.c-shoes{
    margin-left: 71%;
    margin-top: -1.5%;
}
.sm-wach{
    margin-left: 86%;
    margin-top: -1.5%;
}
.omg{
    margin-left: 1%;
    margin-bottom: 5%;
}
h1{
    font-size: 60px;
    text-align: center;
}
